<?xml version="1.0"?>
<config>
    <modules>
        <Komplizierte_ActionsaleDeliveryTime>
            <version>0.1.1</version>
        </Komplizierte_ActionsaleDeliveryTime>
    </modules>
    <global>
        <models>
            <komplizierte_actionsaledeliverytime>
                <class>Komplizierte_ActionsaleDeliveryTime_Model</class>
                <resourceModel>komplizierte_actionsaledeliverytime_resource</resourceModel>
            </komplizierte_actionsaledeliverytime>
            <komplizierte_actionsaledeliverytime_resource>
                <class>Komplizierte_ActionsaleDeliveryTime_Model_Resource</class>
                <entities>
                    <deliverytime>
                        <table>komplizierte_actionsaledeliverytime_deliverytime</table>
                    </deliverytime>
                </entities>
            </komplizierte_actionsaledeliverytime_resource>
        </models>
        <blocks>
            <komplizierte_actionsaledeliverytime>
                <class>Komplizierte_ActionsaleDeliveryTime_Block</class>
            </komplizierte_actionsaledeliverytime>
        </blocks>
        <helpers>
            <komplizierte_actionsaledeliverytime>
                <class>Komplizierte_ActionsaleDeliveryTime_Helper</class>
            </komplizierte_actionsaledeliverytime>
        </helpers>
        <resources>
            <komplizierte_actionsaledeliverytime_setup>
                <setup>
                    <module>Komplizierte_ActionsaleDeliveryTime</module>
                </setup>
            </komplizierte_actionsaledeliverytime_setup>
        </resources>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <komplizierte_actionsaledeliverytime>
                        <type>singleton</type>
                        <class>komplizierte_actionsaledeliverytime/observer</class>
                        <method>onCoreBlockAbstractToHtmlAfter</method>
                    </komplizierte_actionsaledeliverytime>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </global>
    <frontend>
        <events>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <deliverydate_attach>
                        <type>singleton</type>
                        <class>komplizierte_actionsaledeliverytime/observer</class>
                        <method>saveDeliveryData</method>
                    </deliverydate_attach>
                </observers>
            </checkout_type_onepage_save_order_after>

            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <deliverydate_catch>
                        <type>singleton</type>
                        <class>komplizierte_actionsaledeliverytime/observer</class>
                        <method>catchDeliveryData</method>
                    </deliverydate_catch>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
            <sales_quote_address_collect_totals_after>
                <observers>
                    <deliverydate_set>
                        <type>singleton</type>
                        <class>komplizierte_actionsaledeliverytime/observer</class>
                        <method>catchDeliveryData</method>
                    </deliverydate_set>
                </observers>
            </sales_quote_address_collect_totals_after>
        </events>
        <routers>
            <deliverytime>
                <use>standard</use>
                <args>
                    <module>Komplizierte_ActionsaleDeliveryTime</module>
                    <frontName>deliverytime</frontName>
                </args>
            </deliverytime>
        </routers>
    </frontend>
    <adminhtml>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <deliverytime>
                        <class>komplizierte_actionsaledeliverytime/observer</class>
                        <method>onBlockHtmlBefore</method>
                    </deliverytime>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </adminhtml>
</config>